{{ define "main" }}
  <div class="container ph3">
    <main role="main">
      <h1 class="logo">Kelly’s Laser Aesthetics</h1>

      <div class="relative mt4">
        <a
          class="button dib pv3 ph4 br2 white aa f4 ttu fw7 center mb5"
          href="https://go.booker.com/Kellyslaseraesthetics">
          Book your appointment
        </a>
        <div class="tc f4 mb3">
          <a class="link dim" href="tel:+12259363789">(225) 936-3789</a> /
          <a class="link dim" href="tel:+12257152315">(225) 715-2315</a>
        </div>
        <div class="tc f4">
          <a class="link dim" href="mailto:lasermekel@gmail">
            lasermekel@gmail.com
          </a>
        </div>
        <p class="tc f4 dark-gray">
          <strong>Full website coming soon!</strong>
        </p>
      </div>
    </main>
  </div>
{{ end }}
